@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: black;
}

.nav{
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
}

.nav a{
    text-decoration: none;
    color: beige;
}
.nav a:hover{
    text-decoration: none;
    color: cadetblue;
}